page-login {
    .page-login {
        .grid-t{
            .logo{
                width: auto;
                height: auto;
                border-radius: 0;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
                overflow: hidden;
                border-width: 2px;
                border-style: solid;
                margin-top: 25px;
                border-color:color($colors, light); 
                .image{
                    
                    display: block;
                    opacity: 1;
                }
            }
        }

        .grid-b{
            .col{
                .button{
                    margin-left: 0;
                    margin-right: 0;
                    .icon{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}