<div *ngIf="type=='image'" >

  <ion-slides slidesPerView="auto" dir="{{shared.dir}}" id="slides">
    <ion-slide class="swiper-slide-lg" [class.selected]="selected==''" *ngIf="shared.subCategories!=null" (click)="changeTab('')">
      <ion-icon name="ionic"></ion-icon>
      <h3>{{'All'|translate}}</h3>
    </ion-slide>
    <ion-slide class="swiper-slide-lg" [class.selected]="selected==c.id" *ngFor="let c of shared.subCategories" (click)="changeTab(c)">
      <h2><img src="{{config.url+c.icon}}"></h2>
      <h3>{{c.name}}</h3>
    </ion-slide>
  </ion-slides>

</div>
  <ion-segment class="segments-home"  [(ngModel)]="segments" color="primary">
    <ion-segment-button value="newest">{{'Walking'| translate }}</ion-segment-button>
    <ion-segment-button value="categories">{{'Tours'| translate }}</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segments">
      <ion-col class="newest" *ngSwitchCase="'newest'"  col-12>
          <ion-slides pager=true paginationType="bullets">
              <ion-slide *ngFor="let p of Alltours">
                  <div class="tour-body">
                      <img src="{{'http://dev8.kitweb.pro/'+ p.image}}" alt="">
                      <p class="tour-title">{{p.title}}</p>
                      <p class="tour-pierce">{{p.pier}}</p>
                      <p class="tour-intervel">{{p.interval}}</p>
                      <p class="tour-price">{{'Price'| translate }} -{{p.price}} р</p>
                      <p class="tour-price">{{'Child'| translate }} - {{p.child_price}} р</p>
                      <p class="tour-price">{{'Preferential'| translate }} -{{p.preferential_price}} р</p>
                      <button class="tour-detail" (click)="tourDetails((p.id))">{{'Details'| translate }}</button>
                  </div>
              </ion-slide>
          </ion-slides>
          <p class="empty-text" *ngIf="tourEmpty == true">{{'Empty List' | translate}}...</p>  
      </ion-col>

      <ion-col class="newest" *ngSwitchCase="'categories'"  col-12>
          <ion-slides pager=true paginationType="bullets">
              <ion-slide *ngFor="let p of AllDatatours">
                  <div class="tour-body">
                      <img src="{{'http://dev8.kitweb.pro/'+ p.image}}" alt="">
                      <p class="tour-title">{{p.title}}</p>
                      <p class="tour-pierce">{{p.pier}}</p>
                      <p class="tour-intervel">{{p.interval}}</p>
                      <p class="tour-price">{{'Price'| translate }} -{{p.price}} р</p>
                      <p class="tour-price">{{'Child'| translate }} - {{p.child_price}} р</p>
                      <p class="tour-price">{{'Preferential'| translate }} -{{p.preferential_price}} р</p>
                      <button class="tour-detail" (click)="tourDataDetails((p.id))">{{'Details'| translate }}</button>
                  </div>
              </ion-slide>
          </ion-slides>
          <p class="empty-text" *ngIf="dataTourEmpty == true">{{'Empty List' | translate}}...</p>  
      </ion-col>
  </div>





<ion-infinite-scroll #infinite (ionInfinite)="getProducts($event)">
  <!-- <ion-infinite-scroll-content></ion-infinite-scroll-content> -->
</ion-infinite-scroll>