sliding-tabs {
    
.tour-title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.empty-text{
    text-align: center;
}

.tour-pierce,.tour-intervel{
    color: #0071ff;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.tour-detail{
    font-size: 16px;
    padding: 10px 15px;
    background: #2F7BDB;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.tour-price{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tour-intervel{
    margin-bottom: 30px;
}
    .slides{
        background-color: $white;
        .swiper-slide.swiper-slide-lg{
            height: 65px;
            .icon{
                font-size: 25px;
                margin-bottom: 10px;
            }

            h2{
                margin-top: 0;
                margin-bottom: 8px;
                height:25px;
                img{
                    height:25px;
                    width: 25px;
                }
            }
            
            h3{
                font-size: 12px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .swiper-slide{
            height: 40px;
            width: auto;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color:transparent;
            opacity: 0.50;
            display: flex;
            align-items: flex-start;
        }
        .selected{
            border-bottom-color: $black;
            color:color($colors, dark);
            opacity: 1.00;            
        }
    }

    .grid{
        display: inline-block;

        [col-6]{
            float: left;
        }
    }
}
