// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.button.button-md, .bar-button.bar-button-md{
    .button-inner{
        height: 110%;
    }
}

.toolbar{
    .bar-buttons{
        .cart-button{
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible !important;
            .icon{
                .badge{
                    background-color: color($colors, secondary-light);
                    position: absolute;
                    top: -3px;
                    right: -5px;
                }
            }
        }
    }
    .toolbar-title{
        img{
            width: 190px;
            margin-top: 10px;
        }
    }
}

.form{
    .list {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        .item {
            //background-color:$white;
        }
    }
}

.form-secondary{
    @extend.form;
    .list{
        .item {
            background-color:transparent;
        }
    } 
}

.page-empty{
    height: 100%;
    .row{
        height: 100%;
        .icon{
            color:darken(color($colors, light), 20%);
            font-size:80px;
        }
        h4{
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 0;
        }

        h5{
            color:darken(color($colors, light), 40%);
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}

//--------- side menu scss -----
.side-menu{
    .list-avatar{
        margin-bottom: 0;
        .item:after {
            content: "";
            opacity: 0.10;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;   
          }
        .item{
            background-color:color($colors, primary);
            height: 80px;
            text-align: center;
            ion-avatar{
                .icon{
                    color:color($colors, light);
                    font-size: 50px;
                    margin-top: -5px;
                }
            }
            h2{
                font-size: 18px;
                font-weight: bold;
                color: $white;
            }
            p{
                color: $white;
                white-space: normal;
                font-size: 14px;
                margin-top: 5px;
            }
            button{
                //color:color($colors, light);
            }
        }
    }
    .list-menu{
        .item{
            background-color: $white;
        }
    }
    .animate-item {
        animation: flipInX 0.75s;
    }
}
.animation-in {
    animation: fadeIn 1s;
}
.animation-out {
    animation: fadeOut 1s;
}


html[dir="rtl"]{
    .module{
        .slides{
            .swiper-slide:first-child{
                margin-right: 10px;
            }
            .swiper-slide-last {
                padding-top: 3% !important;
            }


        }
    }
    .range-md [range-right] {
        margin: 0 0 0 12px !important;
    }
    .range-md [range-left] {
        margin: 0 12px 0 0 !important;
    }
    .text-input, .searchbar-input{
        direction: rtl;
    }
    .product-detail-header [col-4] {
        text-align: left !important;
    }
}

.toolbar-background-md{
    background: #253E73;
}

.bar-button-menutoggle-md{
    margin-top: 6px!important;
}

.slides .swiper-pagination-bullet-active {
    background: #2F7BDB!important;
}

.slides .swiper-pagination-bullet {
    background: #aaa2a2;
    opacity: .9;
    width: 11px;
    height: 11px;
}

.content-md {
    background-color: #ffffff;
}

.item-md {
    background-color: white;
}

.button-md-secondary {
    background-color: #253e73;
}

.custom-tabs{
    display: flex;
    font-size: 16px;
    padding-left: 20px;
    padding-left: 20px;
    background: white;
    padding: 15px;
    margin-top: -4px;

    a{
        padding-right: 20px;
        text-decoration: none;
        color: #5E8ADF;
    }
}

.tour-body{
    padding: 0 0;
    background: white;
    box-shadow: 0px 0px 2px 0px grey;
    margin: 0 auto;
    padding-bottom: 43px;
    text-align: left;

    *{
        padding-left: 30px;
    }

    .tour-detail{
        margin-left: 30px;
    }

    img{
        padding-left: 0;
    }
}

.tour-title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tour-pierce,.tour-intervel{
    color: #0071ff;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.tour-detail{
    font-size: 16px;
    padding: 10px 15px;
    background: #2F7BDB;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.tour-price{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tour-intervel{
    margin-bottom: 30px;
}

sliding-tabs .slides .swiper-slide{
    height: auto!important;
    padding: 0!important;
    opacity: 1!important;
}

.label-forgot{
    text-align: center;
    color: #253e73;
    font-size: 16px;
    display: block;
    font-weight: bold;
}

.grey-input{
    opacity: 1;
}

.errorText{
    color: red;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 12px;
}


.tour-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.counter{
    width: 20px;
    text-align: center;
    background: transparent;
    border: none;
}

.price-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-counter span{
    width: 17px;
    height: 17px;
    display: inline-block;
    background: #2f7bdb;
    text-align: center;
    color: white;
    border-radius: 50%;
}

.ticket-price-text{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tour-interval{
    margin-bottom: 30px!important;
}

.app-logo{
    margin-right: 30px;
}

.segment-ios-primary .segment-button.segment-activated{
    background: transparent;
}

.scroll-content{
    background: white;
}

.newest{
    height: 0;
    display: block;
    padding: 0!important;
}











